setuptools==53.1.0
sphinx==2.2.1
sphinx_rtd_theme
sphinx-autobuild==2020.9.1
sphinx-click
sphinx-tabs
cookiecutter~=1.7.2
rst2pdf==0.98
wheel
pytest
pytest-cov
pytest-timeout
pandas
gitpython
tqdm
rstcheck
prospector
click>=7.1.2