setuptools
sphinx
sphinx_rtd_theme
sphinx-autobuild==2021.3.14
sphinx-click
sphinx-tabs
cookiecutter
rst2pdf==0.98
wheel
pytest
pytest-cov
pytest-timeout
pandas
gitpython
tqdm
rstcheck
prospector
pylint
click>=7.1.2
black
MarkupSafe>=2.0.0rc2
pydash>=5.0.2
isort>=5.9.3

