[tool.black]
line-length = 120
target-version = ['py37']
exclude = '''
/(
  | dbx/templates/projects
  | build
  | .venv
  | out
)/

'''

[tool.pytest.ini_options]
addopts = "-s -p no:warnings --timeout=3600 --ignore-glob='dbx/templates/*'"
log_cli = 1
log_cli_level = "INFO"
log_cli_format = "[pytest][%(asctime)s][%(levelname)s][%(module)s][%(funcName)s] %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
log_level = "INFO"
pythonpath = [
  "."
]
