setuptools~=49.2.0
wheel
mlflow==1.9.1
scikit-learn==0.23.2
pytest==5.3.1
pytest-cov==2.10.0
python-dotenv==0.10.3
pytest-xdist==1.34.0
databricks-cli==0.10.0
pyyaml>=5.1
click==7.1.2
cookiecutter==1.7.2
path~=15.0.0
retry