from {{project_name}}.jobs.{{job_name}}.entrypoint import SampleJob
import unittest

class SampleJobTest(unittest.TestCase):

    def test_sample(self):
        job = SampleJob()
        job.launch(num_rows=20)

if __name__ == '__main__':
    unittest.main()
