{
    "default": {
        "workflows": [
            {
                "name": "your-job-name",
                "tasks": [
                    {
                        "name": "main",
                        "new_cluster": {% include 'conf/includes/cluster-test.json.j2' %},
                        "max_retries": 0,
                        "notebook_task": {
                            "notebook_path": "/Repos/some/notebook"
                        }
                    }
                ],
                "workflow_type": "pipeline"
            }
        ]
    }
}
