{
    "default": {
        "jobs": [
            {
                "name": "your-job-name",
                "new_cluster": {% include 'tests/deployment-configs/includes/cluster-test.json.j2' %},
                "libraries": [],
                "max_retries": 0,
                "spark_python_task": {
                    "python_file": "tests/deployment-configs/placeholder_1.py"
                }
            }
        ]
    }
}