{
    "default": {
    "jobs": [
        {
        "name": "your-job-name",
        "timeout_seconds": "{{ env['TIMEOUT'] }}",
        "email_notifications": {
            "on_failure": [
                    "{{ env['ALERT_EMAIL'] | lower }}",
                    "presetEmail@test.com"
            ]
        },
        "new_cluster": {
            "spark_version": "7.3.x-cpu-ml-scala2.12",
            "node_type_id": "some-node-type",
            "aws_attributes": {
            "first_on_demand": 0,
            "availability": "{{ env['AVAILABILITY'] | default('SPOT') }}"
            },
            "num_workers": 2
        },
        "libraries": [],
        "max_retries": "{{ env['MAX_RETRY'] | default(3) }}",
        "spark_python_task": {
            "python_file": "file://tests/deployment-configs/placeholder_1.py"
            }
        }]
    }
}
