environments:
  default:
    jobs:
      - name: "your-job-name"
        timeout_seconds: {{ env['TIMEOUT'] }}
        {% if (env['ENVIRONMENT'] == "production") %}
        email_notifications:
          on_failure:
            - "presetEmail@test.com"
            - "test@test.com"
        {% endif %}
        new_cluster:
          spark_version: "7.3.x-cpu-ml-scala2.12"
          node_type_id: "some-node-type"
          aws_attributes:
            first_on_demand: 0
            availability: {{ env['AVAILABILITY'] | default("SPOT") }}
          num_workers: 2
        libraries: []
        {% if (env['ENVIRONMENT'] == "production") %}
        max_retries: {{ env['MAX_RETRY'] | default(-1) }}
        {% else %}
        max_retries: {{ env['MAX_RETRY'] | default(3) }}
        {% endif %}
        spark_python_task:
          python_file: "file://tests/deployment-configs/placeholder_1.py"
